
    @import url(https://fonts.google.com/specimen/Poppins);
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
  *{  
      margin:0;
      padding:0;
      box-sizing:border-box;
  }
  body{
      font-size: 14px ;
      font-family:'Open Sans';
  }
  h1.button{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
  }
  img{
      max-width:100%;
      max-height: 100%;
  }
  ul{
      list-style-type: none;
  }
  header{
      background-image:url(./images/bg-hero-desktop.svg);
      background-color:hsl(193, 100%, 96%);
      width: 100%;
      max-width: 100%;
      padding:30px 60px;
  }
  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  nav.img{
    height:35px;
  }
  .btn{
      padding: 20px 60px;
      background-color: #fff;
      border:none;
      border-radius: 24px;
      box-shadow: 0 3px 16px rgba(0,0,0,0.12);
      cursor:pointer;
  }
  .btn:hover, .btn:active{
    box-shadow: 0px 0px 16px #bebebe;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
  }
  .build-sec{
    padding:60px 0 22px;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .build{
    padding: 0 10px 20px 10px ;
    max-width:50%;
    font-family:'Open Sans', sans-serif;
  }
  .illus{
    max-width: 50%;
  }
  h1.title{
  font-size: 42px;
  margin: 5px 0px;
  font-family: 'Poppins', sans-serif;
  }
  .build p{ 
    padding-right: 30px;
    margin:25px 0px;
   color: hsl(192, 100%, 9%);
   font-size: 14px;
  }
  .build button{
    background-color: hsl(322, 100%, 66%) ;
    color:#fff;
    padding:20px 70px;
    cursor:pointer;
  }
  .build button:hover, .build buton:active{
     box-shadow: 0px 0px 16px  hsla(322, 52%, 47%, 0.837) ;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
  }
  .services{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 40px 40px;
  }
  .service{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:50px 10px 50px 65px;
    box-shadow:0 3px 16px hsl(208, 11%, 55%);
    margin-bottom: 40px;
    border-radius: 13px;
    
  }
  .service img{
    max-width:50%;
    width:500px;
    padding:15px 30px 15px 30px;
  }
  .service2{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:50px 65px 50px 10px;
    box-shadow:0 3px 16px hsl(208, 11%, 55%);
    margin-bottom: 40px;
    border-radius: 13px;
    
  }
  .service2 img{
    max-width:50%;
    width:500px;
    padding:15px 60px 15px 30px;
  }
  .content{
    padding-left:30px;
  }
  .content h2{
    margin: 10px 0px;
  }
  .content p{
    width:93%; 
    color:hsl(208, 11%, 55%);
  }
  .content_left h2{
    margin: 10px 0px;
    color:hsl(192, 100%, 9%);
  }
  .content_left{
    margin-right: 0px;
    color: hsl(208, 11%, 55%);
    padding-left: 40px;
  }
  .content_left p{
    width:100%;
  }
  .promo{
    position: relative;
    max-width:100%;
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #fff;
    padding: 60px 0px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    border-radius: 13px;
    margin-bottom: -100px;
  }
  .promo h1{ margin-bottom: 15px;}
  .promo button{
    margin-top:20px;
    padding:24px 100px;
    color: #fff;
    background-color: hsl(322, 100%, 66%); 
    border-radius: 37px;
  }
  .promo button:hover, .promo button:active{
    box-shadow: 0px 0px 16px  hsla(322, 52%, 47%, 0.837) ;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
  }
  footer{
    display: flex;
    flex-direction: column;
    padding: 200px 100px 30px;
    color: #fff;
    background-color:  hsl(192, 100%, 9%);
  }
  .footerlog{
   width:500px;
  }
  .footer-sec{
    display: flex;
    margin: 40px 0px;
  }
  .sec1{
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    display:flex; flex-direction: column;
    min-width: 40%;
    width:40%; 
    margin-right: 20px;
  }
  .add{
    display: flex;
    padding:5px 8px;
    justify-content:first baseline;
  }
  .add img{
    margin-top: 4px;
    margin-right: 20px;
  }
  li{
    opacity: 0.9;
    margin-bottom:20px;
    padding-right: 60px;
  }
  .sec2,
  .sec3,
  .sec4{ 
    font-size: 14px;
    width:20%;
    margin-left: 10px;
  }
  .social{
    display: flex;
    padding: 0;
    
  }
  a{
    border: 1px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height:25px; 
    color: #fff; 
  }
  .social li{padding: 5px 10px;}
  
  
  
  
  @media (max-width:992px){
    header{
      padding: 30px 0px;
    }
    nav img{ 
      max-width:150px;
      padding-left: 10px;
    }
    .btn{
      padding: 10px 30px;
    }
    h1.title{
      font-size: 25px;
      padding: 0;
    }
    .build-sec{
      flex-direction: column;
      text-align: center;
      font-size: 16px;
    } 
    .build{ padding:0;
      width: 75%;
      max-width:75% ;
    }
    .build button{
      padding:15px 60px;
      font-size: smaller; 
    }
    .illus{
      max-width:max-content;
      width:85%;
      margin-top: 50px;
    }
    .build p{
      padding:0;
      font-size: 19px;
    }
    .services{ 
      padding-left:30px;
      padding-right:30px; 
      text-align: center;

    }
    .service{
      flex-direction: column-reverse;
      margin-left: 0px;
      padding:30px 5px 20px;
      font-size: 14px;
    }
    .service img{
      max-height:55%;
      max-width:90%
    }
    .service p{
      margin: auto;
      padding:0px 20px;
      width:100%;
    }
    .content{
      padding: 0px 10px;
      margin-top:30px;
      margin-bottom:20px;
      width:95%;
    }
    .service2{
      flex-direction:column ;
      margin-right: 0px;
      padding:50px 5px 40px;
      font-size: 14px;
      justify-content: center;
    }
    .service2 img{
      max-height:55%;
      max-width:90%;
      padding-left:50px;
    }
    .content_left{
      padding: 0px 20px;
      margin-top:30px;
      margin-bottom:20px;
      width:95%;
    }
    .promo{
      width:90%;
      margin-top:20px;
    }
    h1{
      font-size: 20px;
    }
    .promo button{
      padding:15px 60px;
      font-size:12px;
      margin-bottom: -10px;
    }
    footer{
      padding-left: 30px;
      padding-right: 0px;
    }
    .footer-sec{
      flex-direction: column;
    }
    li{
      padding-right: 0px;
    }
    .sec1{
      width:90%;
      margin-bottom:26px;
    }
    .sec2,
    .sec3{
      margin-left: 0;
      width:40%;
      font-size: 18px;
    }
    a{
      margin-left: 0px;
    }
    .sec4{
      width:90%; 
      display: flex;
      justify-content:center;
      margin-top: 30px 0px 0px ;
      margin-bottom: -20px;
    }


  }
   
